/* $Id$ */

/**
  * @file
  *   CSS for ajax_example
  *
 */
 
/* hide the next button when not degrading to non-javascript browser */
html.js .next-button { 
  display: none; 
}

/* Make the next/choose button align to the right of the select control */
.form-item-dropdown-first, .form-item-question-type-select {
  display: inline-block;
}


